<!DOCTYPE html>
<html>
<head>
	<title>Login and Registration</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container">
			<h3>Please Login or Register</h3>
			<br>

			<%for (let error of context[0]){%>
				<%for (let key in error){%>
					<%=error[key].message%><br>
				<%}%>
				<br>		
			<%}%>

			<%=context[1]%>

			<form action="/new" method="post">
				<div class="form-group row">
					<label class="col-2 col-form-label">Email:</label>
						<div class="col-10">
							<input type="text" name="email">
						</div>	
				</div>
				<div class="form-group row">
					<label class="col-2 col-form-label">First name:</label>
						<div class="col-10">
							<input type="text" name="first_name">
						</div>	
				</div>
				<div class="form-group row">
					<label class="col-2 col-form-label">Last name:</label>
						<div class="col-10">
							<input type="text" name="last_name">
						</div>	
				</div>
				<div class="form-group row">
					<label class="col-2 col-form-label">Password:</label>
						<div class="col-10">
							<input type="password" name="password">
						</div>	
				</div>
				<div class="form-group row">
					<label class="col-2 col-form-label">Confirm password:</label>
						<div class="col-10">
							<input type="password" name="confirm_pw">
						</div>	
				</div>
				<div class="form-group row">
					<label class="col-2 col-form-label">Birthday:</label>
						<div class="col-10">
							<input type="date" name="birthday">
						</div>	
				</div>
				<input type="submit" value="Register">
			</form>

			<br>

			<form action="/users" method="post">
				<div class="form-group row">
					<label class="col-2 col-form-label">Email:</label>
						<div class="col-10">
							<input type="text" name="email">
						</div>	
				</div>
				<div class="form-group row">
					<label class="col-2 col-form-label">Password:</label>
						<div class="col-10">
							<input type="password" name="password">
						</div>	
				</div>
				<input type="submit" value="Login">
			</form>
		</div>

</body>
</html>